@CHARSET "UTF-8";

#loginForm {
	margin: 40px auto;
	max-width: 500px;
	text-align: center;
}

#loginForm .input-group-addon {
	min-width: 120px;
}

#loginForm h1 {
	color: #444;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
} 

html{
	background: url("bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

body {
	margin: auto auto;
	padding: 0px;
	max-width: 960px;
	background: transparent;
}

.white {
	background-color: white;
}

.input-group {
	margin-bottom: 10px;
}