@CHARSET "UTF-8";

#loginForm {
	margin: auto;
	margin-top: 8%;
	max-width: 500px;
}

body {
	background: url("bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.input-group {
	margin-bottom: 10px;
}